@media screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
  }
  .logo {
    justify-content: center;
    margin: 12px 0px 0px 0px;
    padding: 0px 71px 0px 0px;
  }
  nav ul {
    justify-content: center;
    height: 7vh;
  }
  .search input {
    width: 30vw;
    margin: 0px 5px 10px 0px;
    justify-content: center;
  }
  .search button {
    margin: 0px 0px 10px 0px;
    /* width: 7vw; */
    /* padding: 4px 4px; */
}
.search-icon {
  right:13vw;
padding: 0px 0px 11px 0px;
}
.slider img {
  height: 280px;
}
  }
  @media screen and (max-width: 1780px) {
 
.card-items img {
width: 221px;
height: 294px;
}
    }
    @media screen and (max-width: 720px) {
      
  .card-items img {
  width: 259px;
  height: 320px;
  }
  .slider img {
    height:280px ;
  }
      }
    @media screen and (max-width: 640px) {
    
  .card-items img {
  width: 209px;
  height: 250px;
  }
  .slider img {
    height: 280px;
  }
      }
      @media screen and (max-width: 520px) {
     
    .card-items img {
    width: 109px;
    height: 200px;
    }
    .slider img {
      height: 280px;
    }
    
        }
       @media screen and (max-width: 1283px) {
        .card-items img{
          width: 201px;
        }
       }
       @media screen and (max-width: 908px) {
        .card-items img{
          width: 135px;
        }
       }
       @media screen and (max-width: 1348px) {
        .card-items img{
          width: 215px;
        }
       }